<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
</head>
<body>
<form action="/user" method="get">
    <button name="id" type="submit" value="0">createUser</button>
</form>

<table border="1">
    <caption>user list</caption>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
    </tr>

    <#list user_list as user>
    <tr>
        <td><a href="/user?id=${user.id}">${user.id}</a></td><td>${user.name}</td><td>${user.age}</td>
    </tr>
    </#list>


</table>
<p>Count row = ${user_count}</p>
</body>
</html>